<!-- <section id="about">
    <div class="container">
        <h2><strong>{{'about.title' | translate}}</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="row">
            <div class="col-lg-4 col-md-12" data-aos="fade-right">
                <picture>
                    <img src="assets/images/profile.jpg" alt="photo de profil" class="img-fluid">
                </picture>
                <div class="d-flex justify-content-center">
                    <a class="btn-social-media" href="https://www.linkedin.com/in/zinedine-benkhider/" rel="tooltip"
                        target="_blank" title="{{'about.followMeOn' | translate}} Linkedin">
                        <i class="fa fa-linkedin fa-lg "></i>
                    </a>
                    <a class="btn-social-media btn-default btn-round btn-lg btn-icon"
                        href="https://github.com/zinedineBenkhider" rel="tooltip" target="_blank"
                        title="{{'about.followMeOn' | translate}} GitHub">
                        <i class="fa fa-github fa-lg "></i></a>
                </div>
            </div>
            <div class="col-lg-8  col-md-12 pt-4 pt-lg-0" data-aos="fade-left">
                <h3>{{'about.jobTitle' | translate}}</h3>
                <p class="font-italic">
                    {{'about.introductionOfMe' | translate}}
                    <br>{{'about.passionateAboutDevelopment' | translate}} <b>Back-End</b> {{'about.and' | translate}} <b>Front-End</b>.
                </p>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <fa-icon [icon]="mapMarker"></fa-icon><strong> {{'about.mobility' | translate}}</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="building"></fa-icon><strong> Lens, France</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="email"></fa-icon><strong><a href="mailto:zinedine.benkhider@gmail.com">
                                        zinedine.benkhider@gmail.com</a></strong>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <fa-icon [icon]="birthday"></fa-icon><strong> 26 {{'about.years' | translate}}</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="badge"></fa-icon><strong> {{'about.graduation' | translate}}</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="home"></fa-icon><strong> {{'about.myResearch' | translate}} </strong>
                            </li>
                        </ul>
                    </div>
                </div>
                <p>
                    {{'about.researchDescription' | translate}}
                </p>
            </div>
        </div>
    </div>
</section> -->


<section  style="background: linear-gradient(to bottom, #fff 0%, rgb(144 233 255 / 35%) 99%, rgb(0 0 0 / 50%) 100%);" class="section pt-0" id="about">
    <!-- container -->
    <div class="container text-center">
        <!-- about wrapper -->
        <div class="about">
            <div class="about-img-holder">
                <img src="assets/imgs/vigs.jpg" class="about-img"
                    alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
            </div>
            <div class="about-caption">
                <p class="section-subtitle">Who Am I ?</p>
                <h2 class="section-title mb-3">About Me</h2>
                <p>
                    I am an Professional Software Engineer with proven experience in planning, requirements gathering,
                    designing, developing, testing, demonstrating to clients and upper management, and deploying software. I 
                    have experience in all areas of the development process and believe I can adapt to any environment.I worked in the Skills (Javascript,Typescript,Html,Css,Postgresql,Angular and Node.js) and Experienced in Product Development.
                </p>
                <button class="btn-rounded btn btn-outline-primary mt-4" (click)="downloadPdf()" >Download CV</button>
            </div>
        </div><!-- end of about wrapper -->
    </div><!-- end of container -->
</section>